/*.ISIL {
    fill:green;
}
.Taliban {
    fill:red;
    z-index:1;

}
.Al-Shabaab {
    fill:yellow;
}
.CPI-Maoist{
    fill:pink;
}
.BKHR{
    fill:blue;
}
._other {
    fill:lightgray;
    opacity:0.2;
    z-index:-1;
}*/
.normalCir {
    fill:rgba(220, 221, 142, 0.57));
}

.selectDIV {
    position:absolute;
    left:1600px;
    top:30px;
    height:100px;
    border-width:2px;
    border-radius:15px;
    box-shadow:0px 0px 2px 2px rgba(0, 0, 0, 0.3);
    background-color:white;
}

.statisDIV {
    position:absolute;
    left:1600px;
    top:150px;
    border-width:2px;
    border-radius:15px;
    box-shadow:0px 0px 2px 2px rgba(0, 0, 0, 0.3);
    background-color:white;
}

.toolDIV {
    position:absolute;
    left:10px;
    top:10px;
    width: 150px;
    height: 50px;
    border-width:1px;
    border-radius:5px;
    box-shadow:0px 0px 2px 2px rgba(0, 0, 0, 0.3);
    background-color:white;
}

.piearc {
    stroke:rgba(255, 255, 255, 0.6);
    stroke-width:1.5px;
}

.stackrect {
    stroke:rgba(255, 255, 255, 0.6);
    stroke-width:1.5px;
}

